/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.homepage-row1{
	img{
		height:100px;
		width:100px;
		position:absolute;
		top:0px;
	}
}

.navbar{
		position:relative !important;
		top:50px;
}
