/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*Header*/
/* line 16, ../sass/screen.scss */
.container-header {
  margin: 0px !important;
  position: relative;
  bottom: 1px;
  max-width: none !important;
  padding: 0px !important;
}

/* line 24, ../sass/screen.scss */
.header-navbar-collapse {
  padding: 0px;
  padding-left: 0px !important;
  position: relative;
  top: -1px;
}

/* line 31, ../sass/screen.scss */
.header-search {
  position: absolute;
  right: 0px;
}

/* line 36, ../sass/screen.scss */
li a, .navbar-mobile li a {
  text-decoration: none !important;
  color: black !important;
  font-size: 14pt;
}

/* line 42, ../sass/screen.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #cdcdcd !important;
}

/* line 46, ../sass/screen.scss */
li a {
  transition: background-color 1s;
  webkit-transition: background-color 1s;
}

/* line 51, ../sass/screen.scss */
li a:hover {
  transition: background-color 1s;
  webkit-transition: background-color 1s;
}

/* line 56, ../sass/screen.scss */
.navbar {
  position: relative !important;
}

/* line 60, ../sass/screen.scss */
.DC-logo {
  max-height: 85px;
  max-width: 400px;
  margin: 0 auto !important;
  display: block;
}

/* line 67, ../sass/screen.scss */
.blue-row {
  background-color: #0d004c;
  width: 100%;
  height: 8px;
}

/* line 73, ../sass/screen.scss */
.navbar-search {
  position: absolute;
  right: 0px;
}

/*Navbar*/
/* line 79, ../sass/screen.scss */
.navbar {
  margin-bottom: 0px !important;
}

/* line 83, ../sass/screen.scss */
.navbar-default {
  background-color: white !important;
  border-color: white !important;
  height: 56px;
}

/* line 89, ../sass/screen.scss */
.navbar-mobile {
  display: none;
}

/* line 93, ../sass/screen.scss */
.navbar-desktop {
  display: inline;
}

@media only screen and (max-width: 768px) {
  /* line 99, ../sass/screen.scss */
  .navbar-desktop {
    display: none;
  }

  /* line 102, ../sass/screen.scss */
  .navbar-mobile {
    display: inline;
  }

  /* line 106, ../sass/screen.scss */
  .header-search {
    display: none;
  }

  /* line 109, ../sass/screen.scss */
  .article-stub {
    margin-bottom: 200px;
  }

  /* line 113, ../sass/screen.scss */
  .article-row {
    margin-bottom: 90px !important;
  }

  /* line 117, ../sass/screen.scss */
  .header-navbar-collapse {
    z-index: 100;
    background-color: #e7e7e7;
  }
}
/*Tabs */
/* line 125, ../sass/screen.scss */
.home {
  border-bottom: 7px solid #0d004c;
}

/* line 128, ../sass/screen.scss */
.technology {
  border-bottom: 7px solid #2db8c2;
}

/* line 131, ../sass/screen.scss */
.sports {
  border-bottom: 7px solid green;
}

/* line 134, ../sass/screen.scss */
.arts {
  border-bottom: 7px solid purple;
}

/* line 137, ../sass/screen.scss */
.local-business {
  border-bottom: 7px solid yellow;
}

/* line 140, ../sass/screen.scss */
.dropdown-toggle {
  border-bottom: 7px solid #727171;
}

/* line 144, ../sass/screen.scss */
.nav .open > a {
  border-color: #cdcdcd !important;
}

/* line 148, ../sass/screen.scss */
.dropdown-menu {
  background-color: #cdcdcd !important;
}

/*Home*/
/* line 153, ../sass/screen.scss */
.article-container {
  position: relative;
  bottom: 90px;
}

/* line 159, ../sass/screen.scss */
.article-buffer {
  max-width: 50px;
}

/* line 163, ../sass/screen.scss */
.article-row {
  margin-bottom: 300px;
}

/* line 167, ../sass/screen.scss */
.article-row-container {
  background-color: #f2f2f2;
  padding-top: 40px;
}

/* line 172, ../sass/screen.scss */
.article_results a {
  text-decoration: none !important;
  font-weight: bold !important;
  color: #0d004c !important;
}

/*Article Stub*/
/* line 180, ../sass/screen.scss */
.customize-support {
  padding-top: 10px;
}

/* line 184, ../sass/screen.scss */
.article-stub {
  height: 200px;
  margin-bottom: 200px;
  margin-top: 90px;
}

/* line 190, ../sass/screen.scss */
.article-picture {
  width: 100%;
  height: 50%;
}

/* line 195, ../sass/screen.scss */
.article-block {
  background-color: white;
  min-height: 450px;
  border-top: 10px solid #727171;
}
/* line 199, ../sass/screen.scss */
.article-block div:nth-child(1) {
  height: 230px;
  overflow: hidden;
}
/* line 203, ../sass/screen.scss */
.article-block img {
  width: 100%;
}

/* line 207, ../sass/screen.scss */
.articleattr {
  word-wrap: break-word;
}

/* line 211, ../sass/screen.scss */
.article-excerpt {
  min-height: 80px;
  cursor: context-menu;
}

/* line 216, ../sass/screen.scss */
.article-excerpt, .article_results {
  padding: 10px;
}

/* Sidebar */
/* line 221, ../sass/screen.scss */
#sidebar1 {
  width: 100% !important;
}

/*Footer*/
/* line 226, ../sass/screen.scss */
#inner-footer {
  background-color: #000e2f;
  height: 200px;
}

/* Single Article Page */
/* line 232, ../sass/screen.scss */
.single-row1 {
  margin-top: 40px;
}

/* line 235, ../sass/screen.scss */
.page-header {
  border-width: 5px !important;
}

/* line 238, ../sass/screen.scss */
.article-image {
  max-height: 300px;
  overflow: hidden;
}

/* line 242, ../sass/screen.scss */
.article-image img {
  max-width: 100%;
}

/* line 245, ../sass/screen.scss */
.related-article-stub {
  margin-bottom: 20px;
  margin-left: 30px;
}

/* line 250, ../sass/screen.scss */
.related-posts {
  position: relative;
  left: 40px;
}

/* line 255, ../sass/screen.scss */
.related-article-excerpt, .related-article_results {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  /* line 261, ../sass/screen.scss */
  .related-article-stub {
    margin-left: 0px;
  }
}
/*Shadow */
/* line 267, ../sass/screen.scss */
.paper-shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none;
}

/* line 277, ../sass/screen.scss */
.paper-shadow-animated.paper-shadow {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 281, ../sass/screen.scss */
.paper-shadow-top-z-1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

/* line 285, ../sass/screen.scss */
.paper-shadow-bottom-z-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* line 289, ../sass/screen.scss */
.paper-shadow-top-z-2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 293, ../sass/screen.scss */
.paper-shadow-bottom-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

/* line 297, ../sass/screen.scss */
.paper-shadow-top-z-3 {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* line 301, ../sass/screen.scss */
.paper-shadow-bottom-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

/* line 305, ../sass/screen.scss */
.paper-shadow-top-z-4 {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

/* line 309, ../sass/screen.scss */
.paper-shadow-bottom-z-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

/* line 313, ../sass/screen.scss */
.paper-shadow-top-z-5 {
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/* line 317, ../sass/screen.scss */
.paper-shadow-bottom-z-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}

/* line 321, ../sass/screen.scss */
.paper-shadow-animate-z-1-z-2.paper-shadow-top {
  -webkit-transition: none;
  -webkit-animation: animate-shadow-top-z-1-z-2 0.7s infinite alternate;
}

/* line 326, ../sass/screen.scss */
.paper-shadow-animate-z-1-z-2 .paper-shadow-bottom {
  -webkit-transition: none;
  -webkit-animation: animate-shadow-bottom-z-1-z-2 0.7s infinite alternate;
}

@-webkit-keyframes animate-shadow-top-z-1-z-2 {
  /* line 332, ../sass/screen.scss */
  0% {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  }

  /* line 335, ../sass/screen.scss */
  100% {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@-webkit-keyframes animate-shadow-bottom-z-1-z-2 {
  /* line 341, ../sass/screen.scss */
  0% {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  /* line 344, ../sass/screen.scss */
  100% {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  }
}
