/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*Header*/
/* line 16, ../sass/screen.scss */
.row {
  margin-right: 0px !important;
}

/* line 20, ../sass/screen.scss */
.container-header {
  margin: 0px !important;
  position: relative;
  bottom: 1px;
  max-width: none !important;
  padding: 0px !important;
}

/* line 28, ../sass/screen.scss */
.header-navbar-collapse {
  padding: 0px;
  padding-left: 0px !important;
  position: relative;
  top: -1px;
}

/* line 35, ../sass/screen.scss */
.header-search {
  position: absolute;
  right: 0px;
}

/* line 40, ../sass/screen.scss */
li a, .navbar-mobile li a {
  text-decoration: none !important;
  color: black !important;
  font-size: 14pt;
}

/* line 46, ../sass/screen.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #cdcdcd !important;
}

/* line 50, ../sass/screen.scss */
li a {
  transition: background-color 1s;
  webkit-transition: background-color 1s;
}

/* line 55, ../sass/screen.scss */
li a:hover {
  transition: background-color 1s;
  webkit-transition: background-color 1s;
}

/* line 60, ../sass/screen.scss */
.navbar {
  position: relative !important;
  z-index: 100;
}

/* line 65, ../sass/screen.scss */
.DC-logo {
  max-height: 85px;
  max-width: 400px;
  margin: 0 auto !important;
  display: block;
}

/* line 72, ../sass/screen.scss */
.blue-row {
  background-color: #0d004c;
  width: 100%;
  height: 8px;
}

/* line 78, ../sass/screen.scss */
.navbar-search {
  position: absolute;
  right: 0px;
}

/* line 83, ../sass/screen.scss */
.social-media-icons {
  float: right;
  margin-top: 3px;
  transition: opacity .3s;
  -webkit-transition: opacity .3s;
}

/* line 91, ../sass/screen.scss */
.social-media-icons:hover {
  opacity: .5;
}

/* line 95, ../sass/screen.scss */
.twitter-icon {
  margin-top: 6px;
}

/*Navbar*/
/* line 100, ../sass/screen.scss */
.navbar {
  margin-bottom: 0px !important;
}

/* line 104, ../sass/screen.scss */
.navbar-default {
  background-color: white !important;
  border-color: white !important;
  height: 56px;
}

/* line 110, ../sass/screen.scss */
.navbar-mobile {
  display: none;
}

/* line 114, ../sass/screen.scss */
.navbar-desktop {
  display: inline;
}

@media only screen and (max-width: 768px) {
  /* line 120, ../sass/screen.scss */
  .navbar-desktop {
    display: none;
  }

  /* line 123, ../sass/screen.scss */
  .navbar-mobile {
    display: inline;
  }

  /* line 127, ../sass/screen.scss */
  .header-search {
    display: none;
  }

  /* line 130, ../sass/screen.scss */
  .article-stub {
    margin-bottom: 200px;
  }

  /* line 134, ../sass/screen.scss */
  .article-row {
    margin-bottom: 90px !important;
  }

  /* line 138, ../sass/screen.scss */
  .header-navbar-collapse {
    z-index: 100;
    background-color: #e7e7e7;
  }
}
/*Tabs */
/* line 146, ../sass/screen.scss */
.home {
  border-bottom: 7px solid #0d004c;
}

/* line 149, ../sass/screen.scss */
.technology {
  border-bottom: 7px solid #2db8c2;
}

/* line 152, ../sass/screen.scss */
.sports {
  border-bottom: 7px solid green;
}

/* line 155, ../sass/screen.scss */
.arts {
  border-bottom: 7px solid purple;
}

/* line 158, ../sass/screen.scss */
.local-business {
  border-bottom: 7px solid yellow;
}

/* line 161, ../sass/screen.scss */
.dropdown-toggle {
  border-bottom: 7px solid #727171;
}

/* line 165, ../sass/screen.scss */
.nav .open > a {
  border-color: #cdcdcd !important;
}

/* line 169, ../sass/screen.scss */
.dropdown-menu {
  background-color: #cdcdcd !important;
}

/*Home*/
/* line 174, ../sass/screen.scss */
.article-container {
  position: relative;
  bottom: 90px;
}

/* line 180, ../sass/screen.scss */
.article-buffer {
  max-width: 50px;
}

/* line 184, ../sass/screen.scss */
.article-row-container {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 50px;
}

/* line 190, ../sass/screen.scss */
.article_results a {
  text-decoration: none !important;
  font-weight: bold !important;
  color: #0d004c !important;
}

/* line 196, ../sass/screen.scss */
.nav-link a {
  position: relative;
  top: 90px;
  left: 20px;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

/* line 206, ../sass/screen.scss */
.nav-link {
  margin-bottom: 30px;
}

/*Article Stub*/
/* line 212, ../sass/screen.scss */
.customize-support {
  padding-top: 10px;
}

/* line 216, ../sass/screen.scss */
.article-stub {
  height: 200px;
  margin-bottom: 200px;
  margin-top: 90px;
}

/* line 222, ../sass/screen.scss */
.article-picture {
  width: 100%;
  height: 50%;
}

/* line 227, ../sass/screen.scss */
.article-block {
  background-color: white;
  min-height: 450px;
  border-top: 10px solid #727171;
}
/* line 231, ../sass/screen.scss */
.article-block div:nth-child(1) {
  height: 230px;
  overflow: hidden;
}
/* line 235, ../sass/screen.scss */
.article-block img {
  width: 100%;
}

/* line 239, ../sass/screen.scss */
.articleattr {
  word-wrap: break-word;
}

/* line 243, ../sass/screen.scss */
.article-excerpt {
  min-height: 80px;
  cursor: context-menu;
}

/* line 248, ../sass/screen.scss */
.article-excerpt, .article_results {
  padding: 10px;
}

/* Sidebar */
/* line 253, ../sass/screen.scss */
#sidebar1 {
  width: 100% !important;
}

/*Footer*/
/* line 258, ../sass/screen.scss */
#inner-footer {
  background-color: #000e2f;
  height: 200px;
}

/* Single Article Page */
/* line 264, ../sass/screen.scss */
.single-row1 {
  margin-top: 40px;
}

/* line 267, ../sass/screen.scss */
.page-header {
  border-width: 5px !important;
}

/* line 270, ../sass/screen.scss */
.article-image {
  max-height: 300px;
  overflow: hidden;
}

/* line 274, ../sass/screen.scss */
.article-image img {
  max-width: 100%;
}

/* line 277, ../sass/screen.scss */
.related-article-stub {
  margin-bottom: 20px;
  margin-left: 30px;
}

/* line 282, ../sass/screen.scss */
.related-posts {
  position: relative;
  left: 40px;
}

/* line 287, ../sass/screen.scss */
.related-article-excerpt, .related-article_results {
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  /* line 293, ../sass/screen.scss */
  .related-article-stub {
    margin-left: 0px;
  }
}
/*Shadow */
/* line 299, ../sass/screen.scss */
.paper-shadow {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: inherit;
  pointer-events: none;
}

/* line 309, ../sass/screen.scss */
.paper-shadow-animated.paper-shadow {
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

/* line 313, ../sass/screen.scss */
.paper-shadow-top-z-1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

/* line 317, ../sass/screen.scss */
.paper-shadow-bottom-z-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* line 321, ../sass/screen.scss */
.paper-shadow-top-z-2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 325, ../sass/screen.scss */
.paper-shadow-bottom-z-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

/* line 329, ../sass/screen.scss */
.paper-shadow-top-z-3 {
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* line 333, ../sass/screen.scss */
.paper-shadow-bottom-z-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

/* line 337, ../sass/screen.scss */
.paper-shadow-top-z-4 {
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

/* line 341, ../sass/screen.scss */
.paper-shadow-bottom-z-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}

/* line 345, ../sass/screen.scss */
.paper-shadow-top-z-5 {
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/* line 349, ../sass/screen.scss */
.paper-shadow-bottom-z-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}

/* line 353, ../sass/screen.scss */
.paper-shadow-animate-z-1-z-2.paper-shadow-top {
  -webkit-transition: none;
  -webkit-animation: animate-shadow-top-z-1-z-2 0.7s infinite alternate;
}

/* line 358, ../sass/screen.scss */
.paper-shadow-animate-z-1-z-2 .paper-shadow-bottom {
  -webkit-transition: none;
  -webkit-animation: animate-shadow-bottom-z-1-z-2 0.7s infinite alternate;
}

@-webkit-keyframes animate-shadow-top-z-1-z-2 {
  /* line 364, ../sass/screen.scss */
  0% {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  }

  /* line 367, ../sass/screen.scss */
  100% {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

@-webkit-keyframes animate-shadow-bottom-z-1-z-2 {
  /* line 373, ../sass/screen.scss */
  0% {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }

  /* line 376, ../sass/screen.scss */
  100% {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  }
}
